* {
	--liftfit: rgb(49, 79, 114);
	--liftfit-lite: rgba(49, 79, 114, 0.125);
	--liftfit-highlight: linear-gradient(0deg, var(--liftfit-lite) 50%, transparent 50%);

	--sfu: rgb(204, 6, 51);
	--sfu-lite: rgba(204, 6, 51, 0.125);
	--sfu-highlight: linear-gradient(0deg, var(--sfu-lite) 50%, transparent 50%);

	--accentedge: rgb(204, 32, 39);
	--accentedge-lite: rgba(204, 32, 39, 0.125);
	--accentedge-highlight: linear-gradient(0deg, var(--accentedge-lite) 50%, transparent 50%);

	--ted: rgb(230, 43, 30);
	--ted-lite: rgba(230, 43, 30, 0.125);
	--ted-highlight: linear-gradient(0deg, var(--ted-lite) 50%, transparent 50%);

	--slate: rgb(0, 120, 186);
	--slate-lite: rgba(0, 120, 186, 0.125);
	--slate-highlight: linear-gradient(0deg, var(--slate-lite) 50%, transparent 50%);
}

/* LIFTFIT PROJECT CONTAINER */

div.project.liftfit a.link:hover, div.project.liftfit a.link:focus {
	color: var(--liftfit);
	border-color: var(--liftfit);
}

div.project.liftfit a.link:active {
	background-color: var(--liftfit);
	color: white;
}

div.project.liftfit a.link:hover p.text:last-child, div.project.liftfit a.link:focus p.text:last-child {
	background: var(--liftfit-highlight);
}

/* LIFTFIT PROJECT PAGE */

main.liftfit div.landing {
	background-color: var(--liftfit);
}

main.liftfit h3.title:not(div.more-projects h3.title) {
	background-color: var(--liftfit-lite);
	color: var(--liftfit);
}

main.liftfit div.highlight div.title h3.title {
	background-color: var(--liftfit);
	color: white;
}

/* SFU PROJECT CONTAINER */

div.project.sfu a.link:hover, div.project.sfu a.link:focus {
	color: var(--sfu);
	border-color: var(--sfu);
}

div.project.sfu a.link:active {
	background-color: var(--sfu);
	color: white;
}

div.project.sfu a.link:hover p.text:last-child, div.project.sfu a.link:focus p.text:last-child {
	background: var(--sfu-highlight);
}

/* SFU PROJECT PAGE */

main.sfu div.landing {
	background-color: var(--sfu);
}

main.sfu h3.title:not(div.more-projects h3.title) {
	background-color: var(--sfu-lite);
	color: var(--sfu);
}

main.sfu div.highlight {
	background-color: var(--sfu-lite);
}

main.sfu div.highlight div.title h3.title {
	background-color: var(--sfu);
	color: white;
}

main.sfu div.button a.link {
	background-color: var(--sfu);
	border-color: var(--sfu);
}

main.sfu div.button a.link:hover, main.sfu div.button a.link:focus {
	background-color: white;
	color: var(--sfu);
}

/* ACCENTEDGE PROJECT CONTAINER */

div.project.accentedge a.link:hover, div.project.accentedge a.link:focus {
	color: var(--accentedge);
	border-color: var(--accentedge);
}

div.project.accentedge a.link:active {
	background-color: var(--accentedge);
	color: white;
}

div.project.accentedge a.link:hover p.text:last-child, div.project.accentedge a.link:focus p.text:last-child {
	background: var(--accentedge-highlight);
}

/* TEDXSFU PROJECT CONTAINER */

div.project.ted a.link:hover, div.project.ted a.link:focus {
	color: var(--ted);
	border-color: var(--ted);
}

div.project.ted a.link:active {
	background-color: var(--ted);
	color: white;
}

div.project.ted a.link:hover p.text:last-child, div.project.ted a.link:focus p.text:last-child {
	background: var(--ted-highlight);
}

/* GOGRAD PROJECT CONTAINER */

div.project.slate a.link:hover, div.project.slate a.link:focus {
	color: var(--slate);
	border-color: var(--slate);
}

div.project.slate a.link:active {
	background-color: var(--slate);
	color: white;
}

div.project.slate a.link:hover p.text:last-child, div.project.slate a.link:focus p.text:last-child {
	background: var(--slate-highlight);
}