.transparent .link {
	color: white;
}

.landing .subtitle {
	font-weight: 400;
	line-height: 1.5em;
}

.content .link {
	color: var(--accent);
}

.center-text .subheading {
	color: var(--accent);
}

.project-landing {
	background-color: var(--accent);
}

.highlight {
	background-color: var(--accent-lite);
}

.highlight .subheading {
	color: var(--accent);
}

/* Module/GPS */

.sfu .content .link {
	color: var(--sfu);
}

.sfu .emphasis {
	/*background-color: var(--sfu-lite);*/
	background: linear-gradient(0deg, rgba(250,229,234,1) 50%, rgba(250,229,234,0) 50%);
	color: var(--sfu);
}

.sfu .center-text .subheading {
	color: var(--sfu);
}

.sfu .button {
	background-color: var(--sfu);
	color: white;
	border-color: var(--sfu);
}

.sfu .button:hover {
	background-color: white;
	color: var(--sfu);
}

.sfu .project-landing {
	background-color: var(--sfu);
}

.sfu .highlight {
	background-color: var(--sfu-lite);
}

.sfu .highlight .subheading {
	color: var(--sfu);
}

.sfu .link:active {
	color: var(--accent);
}

/* LiftFit */

.liftfit .content .link {
	color: var(--liftfit);
}

.liftfit .emphasis {
	/*background-color: var(--liftfit-lite);*/
	background: linear-gradient(0deg, rgba(234,237,241,1) 50%, rgba(234,237,241,0) 50%);
	color: var(--liftfit);
}

.liftfit .center-text .subheading {
	color: var(--liftfit);
}

.liftfit .project-landing {
	background-color: var(--liftfit);
}

.liftfit .highlight {
	background-color: var(--liftfit-lite);
}

.liftfit .highlight .subheading {
	color: var(--liftfit);
}

.liftfit .link:active {
	color: var(--accent);
}

/* Accentedge */

.accentedge .content .link {
	color: var(--accentedge);
}

.accentedge .emphasis {
	/*background-color: var(--accentedge-lite);*/
	background: linear-gradient(0deg, rgba(233,222,248,1) 50%, rgba(233,222,248,0) 50%);
	color: var(--accentedge);
}

.accentedge .center-text .subheading {
	color: var(--accentedge);
}

.accentedge .project-landing {
	background-color: var(--accentedge);
}

.accentedge .highlight {
	background-color: var(--accentedge-lite);
}

.accentedge .highlight .subheading {
	color: var(--accentedge);
}

.accentedge .link:active {
	color: var(--accent);
}

/* Baabulilm */

.baabulilm .content .link {
	color: var(--baabulilm);
}

.baabulilm .emphasis {
	/*background-color: var(--baabulilm-lite);*/
	background: linear-gradient(0deg, rgba(255,247,235,1) 50%, rgba(255,247,235,0) 50%);
	color: var(--baabulilm);
}

.baabulilm .center-text .subheading {
	color: var(--baabulilm);
}

.baabulilm .project-landing {
	background-color: var(--baabulilm);
}

.baabulilm .highlight {
	background-color: var(--baabulilm-lite);
}

.baabulilm .highlight .subheading {
	color: var(--baabulilm);
}

.baabulilm .link:active {
	color: var(--accent);
}

.link:active {
	color: var(--accent);
}