* {
	--darkgray: rgb(31, 31, 31);
	--dark-accent: rgba(255, 255, 255, 0.0625);

	--dark-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
}

body.dark {
	background-color: var(--darkgray);
	color: var(--white);
}

body.dark header.header a.link:hover,
body.dark header.header a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark header.header a.link:active {
	background-color: var(--white);
	color: var(--black);
}

body.dark footer.footer {
	background-color: var(--dark-accent);
}

body.dark footer.footer a.link:hover,
body.dark footer.footer a.link:focus {
	border-color: var(--white);
}

body.dark footer.footer a.link:active {
	background-color: var(--white);
	color: var(--black);
}

body.dark a.project {
	background-color: var(--darkgray);
	box-shadow: var(--dark-shadow);
}

body.dark a.project:hover,
body.dark a.project:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark a.project:active {
	background-color: var(--dark-accent);
}

body.dark div.label {
	background-color: var(--dark-accent);
	color: var(--white);
}

body.dark div.btn {
	background-color: var(--dark-accent);
	box-shadow: none;
}

body.dark a.project:active div.btn {
	background-color: var(--white);
	color: var(--black);
}

body.dark h4.subtitle {
	background-color: var(--dark-accent);
	color: var(--white);
}

body.dark section.landing p.text,
body.dark section#About p.text {
	font-weight: var(--light);
}