* {
	--black: black;
	--white-tint: rgba(255, 255, 255, 0.125);
}

/* HEADER, MAIN, FOOTER CONTAINER */
body.dark {
	background-color: var(--black);
	color: var(--white);
}

/* HEADER LINK STATES */
body.dark header.header a.link:hover,
body.dark header.header a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark header.header a.link:active {
	background-color: var(--white);
	color: var(--black);
}

/* FOOTER */
body.dark footer.footer {
	background-color: var(--white-tint);
}

/* FOOTER LINK STATES */
body.dark footer.footer a.link:hover,
body.dark footer.footer a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark footer.footer a.link:active {
	background-color: var(--white);
	color: var(--black);
}

/* SELECTOR LINK STATES */
body.dark section.section nav.nav a.link:hover,
body.dark section.section nav.nav a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark section.section nav.nav a.link:active {
	background-color: var(--white);
	color: var(--black);
}

/* SELECTED LINK */
body.dark a.link.selected {
	background-color: var(--white-tint);
	color: var(--white);
}

body.dark h5 {
	background-color: var(--white-tint);
	color: var(--white);
}