body.dark {
	background-color: var(--black);
	color: var(--white);
}

/*------------------------------------------------------------------------------------------------*/

body.dark header.header {
	background-color: var(--black);
	border-bottom: solid 0.0625rem var(--white-tint);
}

body.dark header.header a.link:hover,
body.dark header.header a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark header.header a.link:active {
	border-color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

body.dark footer.footer {
	background-color: var(--white-tint);
}

body.dark footer.footer a.link:hover,
body.dark footer.footer a.link:focus {
	color: var(--white);
	border-color: var(--white);
}

body.dark footer.footer a.link:active {
	border-color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

body.dark h6.h6 {
	background-color: var(--white-tint);
	color: var(--white);
}

/*------------------------------------------------------------------------------------------------*/

body.dark div.projects a.link {
	background-color: var(--white-tint);
}

body.dark div.projects a.link:hover,
body.dark div.projects a.link:focus {
	color: var(--white);
	box-shadow: 0 0 0 0.0625rem var(--white);
}

body.dark div.projects a.link:active {
	background-color: var(--accent);
	box-shadow: 0 0 0 0.0625rem var(--accent);
}

body.dark a.link:hover span.prompt,
body.dark a.link:focus span.prompt {
	background: var(--white-highlight);
}