div.flex-container {
	display: flex;
}

div.center-container {
	display: flex;
	justify-content: center;
}

div.between-container {
	display: flex;
	justify-content: space-between;
}

div.col-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

/*------------------------------------------------------------------------------------------------*/

div.even-container {
	display: flex;
}

div.even-item {
	width: 100%;
}

/*------------------------------------------------------------------------------------------------*/

div.half-container {
	display: flex;
	flex-wrap: wrap;
}

div.half-item {
	width: 50%;
}

/*------------------------------------------------------------------------------------------------*/

div.col-1of3 {
	max-width: calc(100% / 3);
	margin: auto;
}

div.col-2of3 {
	max-width: calc(100% / 3 * 2);
	margin: auto;
}