div.nav-container {
	display: flex;
	justify-content: space-between;
}

footer.footer div.nav-container {
	align-items: flex-end;
}

div.flex-container {
	display: flex;
}

div.flex-item {
	flex-basis: 100%;
}

div.col-1of12 {
	width: calc(100% / 12);
	margin: auto;
}

div.col-2of12 {
	width: calc(100% / 6);
	margin: auto;
}

div.col-3of12 {
	width: 25%;
	margin: auto;
}

div.col-4of12 {
	width: calc(100% / 3);
	margin: auto;
}

div.col-5of12 {
	width: calc(100% / 12 * 5);
	margin: auto;
}

div.col-6of12 {
	width: 50%;
	margin: auto;
}

div.col-7of12 {
	width: calc(100% / 12 * 7);
	margin: auto;
}

div.col-8of12 {
	width: calc(100% / 3 * 2);
	margin: auto;
}

div.col-9of12 {
	width: 75%;
	margin: auto;
}

div.col-10of12 {
	width: calc(100% / 6 * 5);
	margin: auto;
}

div.col-11of12 {
	width: calc(100% / 12 * 11);
	margin: auto;
}

/* TABLET WIDTH */

@media screen and (max-width: 50.625rem) {
	div.col-1of12, div.col-2of12, div.col-3of12, div.col-4of12, div.col-5of12, div.col-6of12, div.col-7of12, div.col-8of12, div.col-9of12, div.col-10of12, div.col-11of12 {
		width: 100%;
	}

	footer.footer div.nav-container {
		flex-wrap: wrap;
	}

	footer.footer div.nav-item {
		flex-basis: 100%;
	}

	div.flex-container {
		flex-wrap: wrap;
	}
}