.header-container {
	display: flex;
	justify-content: space-between;
}

.flex-container {
	display: flex;
}

.project-container {
	display: flex;
	align-items: center;
}

.center-container {
	display: flex;
	justify-content: center;
}

.wrap-container {
	display: flex;
	flex-wrap: wrap;
}

.col-1of6 {
	width: calc(100% / 6);
}

.col-2of6 {
	width: calc(100% / 3);
}

.col-3of6 {
	width: 50%;
}

.col-4of6 {
	width: calc(100% / 3 * 2);
}

.col-5of6 {
	width: calc(100% / 6 * 5);
}

/*.col-1of12 {
	width: calc(100% / 12);
}

.col-2of12 {
	width: calc(100% / 6);
}

.col-3of12 {
	width: 25%;
}

.col-4of12 {
	width: calc(100% / 3);
}

.col-5of12 {
	width: calc(100% / 12 * 5);
}

.col-6of12 {
	width: 50%;
}

.col-7of12 {
	width: calc(100% / 12 * 7);
}

.col-8of12 {
	width: calc(100% / 3 * 2);
}

.col-9of12 {
	width: 75%;
}

.col-10of12 {
	width: calc(100% / 6 * 5);
}

.col-11of12 {
	width: calc(100% / 12 * 11);
}*/

.auto-margin {
	margin: auto;
}

@media screen and (max-width: 600px) {
	.footer .header-container {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.flex-container {
		flex-wrap: wrap;
	}

	.project-container {
		flex-wrap: wrap;
	}

	.center-container {
		flex-wrap: wrap;
	}

	.col-1of6 {
		width: 100%
	}

	.col-2of6 {
		width: 100%
	}

	.col-3of6 {
		width: 100%
	}

	.col-4of6 {
		width: 100%
	}

	.col-5of6 {
		width: 100%
	}
}