* {
	--black: rgb(47, 47, 47);

	--grey: rgb(127, 127, 127);
	--grey-tint: rgb(223, 223, 223);

	--white-translucent: rgba(255, 255, 255, 0.875);

	/*--accent: RoyalBlue;*/
	/*--accent-tint: rgba(65, 105, 225, 0.125);*/
	/*--accent: SeaGreen;*/
	/*--accent-tint: rgba(46, 139, 87, 0.125);*/
	--accent: #5274FA;
	--accent-tint: rgba(82, 116, 250, 0.125);
	--accent-highlight: linear-gradient(0deg, var(--accent-tint) 50%, transparent 50%);

	--shadow: 0 0 0.25rem rgba(0, 0, 0, 0.125);

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Poppins', 'Inter', 'Noto Color Emoji', sans-serif;

	scroll-behavior: smooth;
}

/* REMOVE UNDERLINE ON ALL LINKS */

a.link {
	text-decoration: none;
}

/* UNDERLINE LINKS ON HOVER/FOCUS */

header.header a.link:hover, header.header a.link:focus,
p.text a.link:hover, p.text a.link:focus,
footer.footer a.link:hover:not(div.scroll-to-top a.link), footer.footer a.link:focus:not(div.scroll-to-top a.link) {
	text-decoration: underline;
}

/* CHANGE TEXT TO BLACK */

body.body {
	color: var(--black);
}

/* HEADING */

h1.heading,
h2.heading {
	margin: 1rem;

	line-height: 1.25em;
}

h2.heading {
	font-size: 2rem;
}

/* SUBHEADING */

h1.subheading {
	margin: 1rem 1rem 2rem 1rem;

	font-size: 1.5rem;
}

h2.subheading {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: 600;
}

/* TITLE */

div.title {
	margin: 1rem;
}

h3.title {
	display: inline-block;
	padding: 0.5rem;

	background-color: var(--accent-tint);
	color: var(--accent);
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.03125rem;
}

/* SUBTITLE */

h4.subtitle {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.875rem;
	font-weight: 500;
}

/* TEXT */

p.text {
	margin: 1rem;

	line-height: 1.5em;
}

/* IN-TEXT HIGHLIGHT */

p.text em.highlight {
	font-weight: 600;
}

/* IN-TEXT LINK */

p.text a.link {
	color: var(--black);

	font-weight: 600;
}

p.text a.link:active {
	color: var(--accent);
}

/* LISTS */

ul.bullet-list, ol.number-list {
	margin-left: 1rem;
}

li.list-item {
	margin: 1rem;
}

/* HIGHLIGHT */

em.highlight {
	background: var(--accent-highlight);
	color: var(--accent);

	font-style: normal;
}

div.landing em.highlight:not(div.home em.highlight) {
	color: white;

	text-decoration: underline;
}

/* ABOUT FIGURE */

figure.about img.img {
	border-radius: 100%;
}

figure.about figcaption.caption/*:not(div.project figcaption.caption)*/ {
	margin-bottom: 4rem;
}

/* CAPTION */

figcaption.caption:not(div.project figcaption.caption) {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.875rem;
	font-weight: 500;
	text-align: center;
}

/* MEDIA */

img.img,
video.vid {
	display: block;
	width: calc(100% - 2rem);
	margin: 1rem;
}

/* HEADER */

header.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	background-color: var(--white-translucent);
	box-shadow: var(--shadow);
	backdrop-filter: blur(0.25rem);

	transition: background 0.25s, opacity 0.25s, visibility 0.25s;
}

header.header div.spacing {
	margin: 0 8rem;

	transition: margin 0.25s;
}

header.header a.link {
	display: inline-block;
	padding: 1rem;

	color: var(--grey);

	font-size: 0.75rem;
	font-weight: 500;

	transition: color 0.25s;
}

header.header a.link:hover, header.header a.link:focus {
	/*color: var(--accent);*/
	color: var(--black);
}

header.header a.link:active {
	color: var(--accent);
}

header.none {
	visibility: hidden;
	opacity: 0;
}

header.top div.max-width {
	max-width: 100%;
}

header.top div.spacing {
	margin: 0;
}

header.transparent {
	background-color: transparent;
	box-shadow: none;
}

header.transparent a.link {
	color: white;
}

header.transparent a.link:hover, header.transparent a.link:focus {
	color: white;
}

div.mobile-header-spacing {
	display: none;
	padding: 1rem;

	/*font-size: 0.75rem;*/
	font-size: 0.875rem;
}

/* FOOTER */

footer.footer {
	background-color: var(--black);
	color: var(--grey);

	font-size: 0.75rem;
	font-weight: 500;
}

footer.footer div.spacing {
	padding: 4rem 8rem;
}

time.time {
	color: var(--grey-tint);
}

footer.footer a.link {
	display: inline-block;
	margin: 1rem;

	color: var(--grey);

	font-weight: 600;
}

footer.footer a.link + a.link {
	margin-left: 0;
}

footer.footer a.link:hover, footer.footer a.link:focus {
	color: var(--grey-tint);
}

div.scroll-to-top a.link {
	padding: 0.5rem 0.75rem;

	background-color: var(--grey);
	color: var(--grey-tint);
	border-radius: 2rem;

	transition: background-color 0.25s, color 0.25s;
}

div.scroll-to-top a.link:hover, div.scroll-to-top a.link:focus {
	background-color: var(--accent);
	color: white;
}

/* LANDING */

div.landing:not(div.home) {
	background-color: var(--accent);
	color: white;
}

div.landing div.spacing {
	padding: 8rem;
}

/*div.landing h2.subheading {
	font-size: 1.5rem;
	font-weight: 700;
}*/

div.home p.text {
	font-weight: 500;
}

div.landing:not(div.home) a.link {
	color: white;
}

/* HOMEPAGE LANDING */

div.home div.spacing {
	padding-bottom: 0;
}

/* HIGHLIGHT CONTAINER */

div.highlight {
	background-color: var(--accent-tint);
}

div.highlight div.spacing {
	padding: 8rem;
}

div.highlight div.title {
	text-align: center;
}

div.highlight h3.title {
	background-color: var(--accent);
	color: white;
}

/* MAXIMUM WIDTH */

div.max-width {
	max-width: 80rem;
	margin: auto;

	transition: max-width 0.25s, margin 0.25s;
}

/* DIVIDER */

hr.divider {
	margin: 0 9rem;

	border: none;
	border-top: solid 0.0625rem var(--grey-tint);
}

/* CONTENT CONTAINER */

div.content {
	padding: 8rem;
}

/*div.content + div.content {
	padding-top: 0;
}*/

/* CONTACT BUTTON */

div.button {
	display: block;
	margin: 2rem 1rem 1rem 1rem;

	text-align: center;
}

div.button a.link {
	display: inline-block;
	padding: 1rem;

	background-color: var(--accent);
	color: white;
	border: solid 0.0625rem var(--accent);
	border-radius: 0.5rem;
	box-shadow: var(--shadow);

	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.03125rem;

	transition: background-color 0.25s, color 0.25s;
}

div.button a.link:hover, div.button a.link:focus {
	background-color: white;
	color: var(--accent);
}

div#contact a.link {
	display: block;
	margin: 1rem;
	padding: 1rem;

	color: var(--black);
	border: solid 0.0625rem white;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);

	font-size: 0.75rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.03125rem;

	transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

div#contact a.link:hover, div#contact a.link:focus {
	color: var(--accent);
	border-color: var(--accent);
}

div#contact a.link:active {
	background-color: var(--accent);
	color: white;
}

/* MORE PROJECTS CONTAINER */

div.more-projects a.link {
	display: block;
	margin: 2rem 1rem 1rem 1rem;

	color: var(--black);

	transition: padding 0.25s;
}

div.more-projects a.link:hover, div.more-projects a.link:focus {
	padding-left: 2rem;

	color: var(--accent);
}

div.more-projects h2.heading {
	display: inline-block;
	margin: 0;
}

div.more-projects p.text {
	margin: 0.5rem 0 0 0;

	color: var(--grey);

	font-weight: 500;
}

div.more-projects a.link:hover h2.heading, div.more-projects a.link:focus h2.heading {
	background: var(--accent-highlight);
}

div.more-projects a.link:hover p.text, div.more-projects a.link:focus p.text {
	color: var(--accent);
}

/* PROJECT CONTAINER */

div.project {
	padding: 2rem 8rem;
}

/* FIRST PROJECT CONTAINER AFTER LANDING */

div.project:first-child {
	/*padding-top: 8rem;*/
	padding-top: 0;
}

/* LAST PROJECT CONTAINER BEFORE FOOTER */

div.project:last-child {
	padding-bottom: 8rem;
}

div.project a.link {
	display: block;
	margin: 1rem;

	color: var(--black);
	border: solid 0.0625rem white;
	border-radius: 1rem;
	box-shadow: var(--shadow);

	transition: background-color 0.25s, color 0.25s, border 0.25s;
}

div.project a.link:hover, div.project a.link:focus {
	color: var(--accent);
	border-color: var(--accent);
}

div.project a.link:active {
	background-color: var(--accent);
	color: white;
}

div.project img.img {
	padding: 3rem 1rem 3rem 3rem;
}

div.project figcaption.caption {
	padding: 3rem 3rem 3rem 1rem;
}

div.project h2.subheading {
	font-size: 1.5rem;
	font-weight: 700;
}

div.project p.details {
	font-size: 0.875rem;
	font-weight: 500;
}

div.project p.description {
	font-weight: 500;
}

div.project p.action {
	display: inline-block;
	margin-top: 0;

	font-weight: 600;

	transition: margin 0.25s;
}

div.project a.link:hover p.action, div.project a.link:focus p.action {
	margin-left: 2rem;

	background: var(--accent-highlight);
}

div.grid + figure.fig {
	margin-top: 4rem;
}

figure.fig + div.grid {
	margin-top: 4rem;
}

div.title + h2.subheading,
div.title + h4.subtitle {
	margin-top: 2rem;
}

div.content p.text + h2.subheading,
p.text + h4.subtitle {
	margin-top: 4rem;
}

div.button + div.grid {
	margin-top: 2rem;
}

figure.fig + div.button {
	/*margin-top: 4rem;*/
}

abbr.abbreviation {
	cursor: help;
}

nav {
	padding: 8rem 8rem 0 8rem;

	text-align: right;
}

button {
	margin: 1rem;
	padding: 0.5rem;

	background-color: transparent;
	color: var(--black);
	border: none;
	border-radius: 0.25rem;

	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.03125rem;

	transition: background-color 0.25s, color 0.25s;
}

button:hover, button:focus {
	background-color: var(--accent-tint);
	color: var(--accent);

	cursor: pointer;
}

button:active {
	background-color: var(--accent);
	color: white;
}

button + button {
	margin-left: 0;
}

button.selected {
	background-color: var(--accent);
	color: white;
}

/* TABLET WIDTH */

@media screen and (max-width: 50.625rem) {
	figure.about img.img {
		width: calc(100% / 3 - 2rem);
		margin: 1rem auto;
	}

	div.project img.img {
		padding: 3rem 3rem 1rem 3rem;
	}

	div.project figcaption.caption {
		padding: 1rem 3rem 3rem 3rem;
	}

	abbr.abbreviation {
		text-decoration: none;
	}

	abbr.abbreviation:after {
		content: " ("attr(title)")";
	}
}

/* MOBILE WIDTH */

@media screen and (max-width: 26.75rem) {
	h1.heading {
		/*font-size: 2rem;*/
		font-size: 1.75rem;
	}

	h1.subheading {
		/*font-size: 1.5rem;*/
		font-size: 1.25rem;
	}

	h2.heading:not(div.landing h2.heading) {
		/*font-size: 2rem;*/
		/*font-size: 1.5rem;*/
		font-size: 1.75rem;
	}

	div.landing h2.heading {
		/*margin-bottom: 1rem;*/
		margin-bottom: 2rem;

		/*font-size: 2rem;*/
		font-size: 1.75rem;
	}

	div.more-projects a.link {
		/*margin-top: 2rem;*/
		/*margin-top: 1rem;*/
	}

	div.landing p.text, div.content p.text, div.highlight p.text {
		/*font-size: 1rem;*/
		/*font-size: 0.875rem;*/
	}

	div.more-projects p.text {
		/*font-size: 1rem;*/
		/*font-size: 0.75rem;*/
	}

	figcaption.caption:not(div.project figcaption.caption) {
		/*font-size: 0.875rem;*/
		/*font-size: 0.75rem;*/
	}

	figure.about figcaption.caption:not(div.project figcaption.caption) {
		/*margin-bottom: 4rem;*/
		/*margin-bottom: 2rem;*/
	}

	div.project img.img {
		padding: 1rem 1rem 0 1rem;
	}

	div.project figcaption.caption {
		padding: 0 1rem 1rem 1rem;
	}

	div.button a.link {
		display: block;
	}

	header.header {
		visibility: visible;
		top: auto;
		bottom: 0;

		background-color: var(--white-translucent);
		box-shadow: var(--shadow);
		opacity: 1;
	}

	header.header div.spacing {
		margin: 0;
	}

	header.header a.link {
		color: var(--grey);

		/*font-size: 0.75rem*/
		font-size: 0.875rem;
	}

	header.header a.link:hover, header.header a.link:focus {
		color: var(--accent);
	}

	div.mobile-header-spacing {
		display: block;
	}

	footer.footer {
		text-align: center;
	}

	footer.footer div.spacing {
		padding: 1rem;
	}

	footer.footer p.text {
		/*font-size: 0.75rem;*/
		/*font-size: 0.625rem;*/
	}

	footer.footer a.link:not(div.scroll-to-top a.link) {
		display: block;
		/*margin-bottom: 1rem;*/
		margin-bottom: 2rem;

		color: var(--grey-tint);
	}

	footer.footer a.link:nth-child(3) {
		/*margin-bottom: 1rem;*/
		/*margin-bottom: 2rem;*/
	}

	footer.footer a.link + a.link {
		margin-left: 1rem;
	}

	div.landing {
		min-height: 100vh;
	}

	/*div.landing:not(div.home) {
		position: relative;
	}*/

	div.landing div.spacing {
		padding: 3rem;
	}

	/*div.landing:not(div.home) div.spacing {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}*/

	div.project {
		padding: 1rem;
	}

	div.project:first-child {
		padding-top: 1rem;
	}

	div.project + div.project {
		padding-top: 0;
	}

	div.project + div.project a.link {
		margin-top: 0;
	}

	div.project:last-child {
		padding-bottom: 1rem;
	}

	div.project h2.subheading {
		/*font-size: 1.5rem;*/
		/*font-size: 1.25rem;*/
	}

	div.project p.details {
		/*font-size: 0.875rem;*/
		/*font-size: 0.75rem;*/
	}

	div.project p.description,
	div.project p.action {
		/*font-size: 1rem;*/
		/*font-size: 0.875rem;*/
	}

	div.content {
		padding: 1rem;
	}

	div.highlight div.spacing {
		padding: 1rem;
	}

	div.highlight h3.title {
		/*font-weight: 600;*/
		/*font-weight: 500;*/
	}

	hr.divider {
		margin: 0 2rem;
	}

	div.grid + figure.fig {
		margin-top: 2rem;
	}

	figure.fig + div.grid {
		margin-top: 2rem;
	}

	div.title + h2.subheading,
	div.title + h4.subtitle {
		margin-top: 1rem;
	}

	div.content p.text + h2.subheading,
	p.text + h4.subtitle {
		margin-top: 2rem;
	}

	nav {
		padding: 1rem 1rem 0 1rem;

		text-align: center;
	}

	button {
		margin-bottom: 0;
	}
}