* {
	--black: #333;

	--grey: #999;
	--grey-lite: #EEE;
	--grey-lite-invisible: rgba(238, 238, 238, 0);

	--white-translucent: rgba(255, 255, 255, 0.9);

	--accent: #6F00FF;
	--accent-lite: #E9DEF8;

	--sfu: #CC0633;
	--sfu-lite: #FAE5EA;

	--liftfit: #314F72;
	--liftfit-lite: #EAEDF1;

	--accentedge: #CC2027;
	--accentedge-lite: #DAE8E9;

	--baabulilm: #FAAF40;
	--baabulilm-lite: #FFF7EB;

	--shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: 'Poppins', sans-serif;

	scroll-behavior: smooth;
}

/* Link */

.link {
	text-decoration: none;
}

.link:hover, .link:focus {
	text-decoration: underline;
}

/* Heading */

.heading {
	margin: 1rem;
}

/* Subheading */

.subheading {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Title */

.title {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: 600;
}

/* Subtitle */

.subtitle {
	margin: 1rem;

	font-weight: 500;
	line-height: 1.25em;
}

/* Text */

.text {
	margin: 1rem;

	line-height: 1.375em;
}

/* Emphasis */

.emphasis {
	background: linear-gradient(0deg, rgba(233,222,248,1) 50%, rgba(233,222,248,0) 50%);
	color: var(--accent);

	font-style: normal;
}

/* Terminology */

.term {
	font-style: italic;
}

/* Center-align text */

.center-text {
	text-align: center;
}

/* List item */

.list-item {
	margin: 0 1rem 1rem 2rem;

	font-size: 0.9rem;
	line-height: 1.5em;
}

/* Accent-colour text */

.center-text .subheading {
	font-weight: 600;
}

/* Button */

.button {
	width: calc(100% - 2rem);
	margin: 1rem;
	padding: 1rem;

	background-color: white;
	border: solid 1px white;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);

	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: background-color 0.5s;
}

.button:hover, .button:focus {
	color: var(--accent);
	border-color: var(--accent);
}

.button:active {
	background-color: var(--accent) !important;
	color: white !important;
	border-color: var(--accent) !important;

	transition: background-color 0.25s;
}

/* Divider */

.divider-container {
	margin: 0 10%;
}

.divider {
	margin: 1rem;

	border: none;
	border-top: solid 1px var(--grey-lite);
}

/* Figure container */
.figure-container {
	padding: 0 10%;
}

/* Figure */

.figure {
	margin: 1rem;
}

/* Img */

.img {
	display: block;
	width: 100%;
}

/* Video */

.video {
	display: block;
	width: 100%;
}

/* Caption */

.figure-container .caption {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.25em;
}

.figure-container .caption .term {
	color: var(--grey);
}

/* Header */

.header {
	position: fixed;
	width: 100%;

	background-color: var(--white-translucent);
	box-shadow: var(--shadow);
	backdrop-filter: blur(5px);

	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: 0.25px;

	z-index: 1;
}

.header .link {
	display: inline-block;
	padding: 1rem;

	color: var(--grey);

	transition: padding 0.5s;
}

.header .display {
	display: none;
}

.left-btn:hover, .left-btn:focus {
	color: var(--black);
}

.right-btn:hover, .right-btn:focus {
	color: var(--accent);
}

/* Homepage header */

.home-header-spacing {
	padding: 0 10%;

	transition: padding 0.25s, opacity 0.25s;
}

/* Project page header */

.project-header {
	transition: background-color 0.25s, border 0.25s, box-shadow 0.25s;
}

.project-header-spacing .left-btn {
	padding-left: calc(1rem + 10%);
}

.project-header-spacing .right-btn {
	padding-right: calc(1rem + 10%);
}

.transparent {
	background-color: transparent;
	border-color: var(--grey-lite-invisible);
	box-shadow: none;

	transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
}

.project-header-spacing .link {
	transition: padding 0.25s;
}

.project-header-spacing .left-btn:hover, .project-header-spacing .left-btn:focus {
	padding: 1rem calc(1rem + 10%) 1rem 1rem;
}

.project-header-spacing .right-btn:hover, .project-header-spacing .right-btn:focus {
	padding: 1rem 1rem 1rem calc(1rem + 10%);
}

/* Landing */

.landing {
	padding: 10%;
}

.landing .link {
	font-weight: 600;
}

/* Project page landing */

.project-landing .heading, .project-landing .subtitle, .project-landing .link {
	color: white;
}

/* Content */

.content {
	padding: 5% 10%;
}

.content .subtitle {
	color: var(--grey);

	font-size: 0.9rem;
}

.content .emphasis {
	font-weight: 600;
}

.content .link {
	font-weight: 600;
}

/* Footer */

.footer {
	padding: 5% 10%;

	background-color: var(--black);

	font-size: 0.75rem;
}

.footer .nav {
	margin: 1rem 1rem 1rem 0;
}

.footer .subtitle, .date, .footer .link {
	color: var(--grey);
}

.date {
	color: var(--grey-lite);
}

.footer .link {
	margin-left: 1rem;

	font-weight: 600;
}

.footer .link:hover, .footer .link:focus {
	color: var(--grey-lite);
}

.footer .link:active {
	color: var(--accent);
}

/* Return to top btn */

.return {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 5% 0;

	opacity: 0.25;

	transition: opacity 0.5s;
}

.return .figure {
	margin: 0;
	padding: 1rem;

	transition: padding 0.5s;
}

.return .img {
	width: 0.75rem;
	height: 0.75rem;
}

.return:hover {
	opacity: 1;

	transition: opacity 0.25s;
}

.return:hover .figure {
	padding: 3rem;

	transition: padding 0.25s;
}

/*.return-to-top-btn {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 5% 0;

	font-size: 0.75rem;
	font-weight: 500;

	transition: opacity 0.25s;
}

.return-to-top-btn .link {
	display: block;
	padding: 1rem;

	color: var(--grey);

	transition: padding 0.5s;
}

.return-to-top-btn .link:hover, .return-to-top-btn .link:focus {
	padding: 2rem;

	color: var(--black);

	transition: padding 0.25s;
}

.return-to-top-btn .link:active {
	color: var(--accent);
}*/

/* Hide header/retun-to-top-btn */

.hide {
	opacity: 0;

	transition: padding 0.5s, opacity 0.5s;
}

/* Homepage project nav */

.project {
	padding: 10%;
}

.project .link {
	display: block;
	margin: 1rem 1rem 2rem 1rem;

	box-shadow: var(--shadow);
	border-radius: 0.5rem;

	text-decoration: none;

	overflow: hidden;
}

.project .figure {
	position: relative;
	margin: 0;
}

.project img {
	position: absolute;
	padding: 2rem;
	z-index: -1;
}

.landscape {
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
}

.portrait {
	left: 50%;
	transform: translate(-50%, 0);
	height: 100%;
}

.project .caption {
	padding: 1rem;

	background-color: var(--white-translucent);
	backdrop-filter: blur(5px);
	opacity: 0;

	transition: opacity 0.5s;
}

.project .title {
	font-size: 1.5rem;
	font-weight: 700;
}

.project .subtitle {
	font-size: 0.9rem;

	transition: padding 0.5s;
}

.view-btn {
	font-weight: 600;
	text-decoration: underline;
}

.project .link:hover .caption, .project .link:focus .caption {
	opacity: 1;

	transition: opacity 0.25s;
}

.project .link:active {
	border-color: var(--accent);
}

.project .link:active .title, .project .link:active .subtitle {
	color: var(--accent);
}

.project .link:active .view-btn {
	padding-left: 1rem;

	transition: padding 0.25s;
}

/* Project page project nav */

.more-projects {
	padding: 10%;
}

.more-projects .link {
	display: block;
	margin-top: 2rem;

	text-decoration: none;

	transition: padding 0.5s;
}

.more-projects .subtitle {
	color: var(--grey);
}

.more-projects .link:hover, .more-projects .link:focus {
	padding-left: 2rem;

	transition: padding 0.25s;
}

.more-projects .link:hover .heading, .more-projects .link:focus .heading {
	text-decoration: underline;
}

.more-projects .link:hover .subtitle, .more-projects .link:focus .subtitle {
	color: var(--black);
}

.view-all-projects-btn:hover, .view-all-projects-btn:focus, .view-all-projects-btn:hover .heading, .view-all-projects-btn:focus .heading {
	color: var(--accent);
}

.more-projects .link:active .heading, .more-projects .link:active .subtitle {
	color: var(--accent);
}

/* Project page highlight section */

.highlight {
	padding: 5% 10%;

	text-align: center;
}

.highlight .subheading {
	font-weight: 600;
}

/* Add/subtract margin/padding */

.margin-add-top {
	margin-top: 2rem;
}

.margin-add-btm {
	margin-bottom: 2rem;
}

.margin-increase-vertical {
	margin: 4rem 0;
}

.padding-add-top {
	padding-top: 5%;
}

.padding-add-btm {
	padding-bottom: 5%;
}

.padding-remove-top {
	padding-top: 0;
}

.padding-remove-btm {
	padding-bottom: 0;
}

.padding-increase-top {
	padding-top: 10%;
}

.padding-increase-btm {
	padding-bottom: 10%;
}

.padding-reduce-btm {
	padding-bottom: 5%;
}

/* Link */

.link:active {
	color: var(--accent);
}

.menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

	background-color: var(--white-translucent);
	backdrop-filter: blur(5px);

	text-align: right;
}

.menu .nav {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5%;
	padding-bottom: 4rem;
}

.menu-btn {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 5%;
}

.menu-btn .figure {
	padding: 1rem;

	background-color: var(--accent);
	border-radius: 100%;
	box-shadow: var(--shadow);
}

.menu-btn .img {
	width: 1rem;
	height: 1rem;
}

@media screen and (max-width: 600px) {
	.menu-btn {
		display: block;
	}

	.menu.show {
		display: block;
	}

	/* Divider*/

	.divider-container {
		margin: 5%;
	}

	/* Figure */

	.figure-container {
		padding: 0 5%;
	}

	.figure-container .caption {
		margin: 1rem 0;
	}

	/* Homepage header */

	.home-header {
		display: none;
	}

	/* Project page header */

	.project-header {
		position: sticky;
		top: 0;

		box-shadow: var(--shadow);
	}

	.project-header-spacing .link {
		padding: 1rem;
	}

	.transparent {
		background-color: white;
	}

	.header.transparent .link {
		color: var(--grey);
	}

	/* Content */

	.content {
		padding: 5%;
	}

	/* Footer */

	.footer {
		padding: 5%;

		text-align: center;
	}

	.footer .nav {
		margin: 0;
	}

	.footer .link {
		display: block;
		margin: 1rem;
	}

	/* Return-to-top btn */

	/*.return-to-top-btn {
		display: none;
	}*/

	.return {
		margin: 10% 0;
	}

	/* Homepage project nav */

	.project {
		padding: 5%;
	}

	.project .link:nth-child(even) {
		margin-bottom: 1rem;
	}

	.project img {
		position: static;
		padding-bottom: 0;
	}

	.landscape, .portrait {
		transform: translate(0, 0);

		width: 100%;
		height: auto;
	}

	.project .caption {
		backdrop-filter: none;
		opacity: 1;
	}

	/* Project page project nav */

	.more-projects {
		padding: 5%;
	}

	.more-projects .link {
		margin: 0;
	}

	/* Highlight */

	.highlight {
		padding: 5%;
	}

	/* Add/subtract margin/padding */

	.margin-increase-vertical {
		margin: 2rem 0;
	}

	.padding-increase-top {
		padding-top: 10%;
	}
}