* {
	--black: #333;

	--grey: #999;
	--grey-lite: #EEE;
	--grey-lite-invisible: rgba(238, 238, 238, 0);

	--accent: #6F00FF;
	--accent-lite: #E9DEF8;

	--sfu: #CC0633;
	--sfu-lite: #FAE5EA;

	--liftfit: #314F72;
	--liftfit-lite: #EAEDF1;

	--accentedge: #363639;
	--accentedge-lite: #EAEAEB;

	--baabulilm: #F05A28;
	--baabulilm-lite: #FEEEE9;

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: 'Poppins', sans-serif;

	scroll-behavior: smooth;
}

/* Link */

.link {
	text-decoration: none;
}

.link:hover, .link:focus {
	text-decoration: underline;
}

/* Heading */

.heading {
	margin: 1rem;
}

/* Subheading */

.subheading {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.75rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Title */

.title {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: 600;
}

/* Subtitle */

.subtitle {
	margin: 1rem;

	font-weight: 500;
	line-height: 1.25em;
}

/* Text */

.text {
	margin: 1rem;

	line-height: 1.25em;
}

/* Emphasis */

.emphasis {
	background-color: var(--accent-lite);
	color: var(--accent);

	font-style: normal;
}

/* Center-align text */

.center-text {
	text-align: center;
}

/* List item */

.list-item {
	margin: 0 1rem 1rem 2rem;

	font-size: 0.9rem;
	line-height: 1.5em;
}

/* Accent-colour text */

.center-text .subheading {
	font-weight: 600;
}

/* Divider */

.divider-container {
	margin: 0 10%;
}

.divider {
	margin: 1rem;

	border: none;
	border-top: solid 1px var(--grey-lite);
}

/* Figure container */
.figure-container {
	padding: 0 10%;
}

/* Figure */

.figure {
	margin: 1rem;
}

/* Img */

.img {
	display: block;
	width: 100%;
}

/* Video */

.video {
	display: block;
	width: 100%;
}

/* Caption */

.caption {
	margin: 1rem;

	color: var(--grey);

	font-size: 0.9rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.25em;
}

/* Header */

.header {
	position: fixed;
	width: 100%;

	background-color: white;
	border-bottom: solid 1px var(--grey-lite);

	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: 0.25px;
}

.header .link {
	display: inline-block;
	padding: 1rem;

	color: var(--grey);

	transition: padding 0.5s;
}

.header .display {
	display: none;
}

.left-btn:hover, .left-btn:focus {
	color: var(--black);
}

.right-btn:hover, .right-btn:focus {
	color: var(--accent);
}

/* Homepage header */

.home-header-spacing {
	padding: 0 10%;

	transition: padding 0.25s, opacity 0.25s;
}

/* Project page header */

.project-header {
	transition: background-color 0.25s, border 0.25s;
}

.project-header-spacing .left-btn {
	padding-left: calc(1rem + 10%);
}

.project-header-spacing .right-btn {
	padding-right: calc(1rem + 10%);
}

.transparent {
	background-color: transparent;
	border-color: var(--grey-lite-invisible);

	transition: background-color 0.5s, border 0.5s;
}

.project-header-spacing .link {
	transition: padding 0.25s;
}

.project-header-spacing .left-btn:hover, .project-header-spacing .left-btn:focus {
	padding: 1rem calc(1rem + 10%) 1rem 1rem;
}

.project-header-spacing .right-btn:hover, .project-header-spacing .right-btn:focus {
	padding: 1rem 1rem 1rem calc(1rem + 10%);
}

/* Landing */

.landing {
	padding: 10%;
}

.landing .link {
	font-weight: 600;
}

/* Homepage landing */

.home {
	height: 100vh;
}

/* Project page landing */

.project-landing .heading, .project-landing .subtitle, .project-landing .link {
	color: white;
}

/* Content */

.content {
	padding: 5% 10%;
}

.content .subtitle {
	color: var(--grey);

	font-size: 0.9rem;
}

.content .emphasis {
	font-weight: 500;
}

.content .link {
	font-weight: 600;
}

/* Footer */

.footer {
	padding: 5% 10%;

	font-size: 0.75rem;
}

.footer .nav {
	margin: 1rem 1rem 1rem 0;
}

.footer .link, .footer .subtitle, .date {
	color: var(--grey);
}

.footer .link, .date {
	font-weight: 600;
}

.footer .link {
	margin-left: 1rem;
}

.footer .link:hover, .footer .link:focus {
	color: var(--accent);
}

/* Return to top btn */

.return-to-top-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 5% 10%;

	font-size: 0.75rem;
	font-weight: 500;

	transition: opacity 0.25s;
}

.return-to-top-btn .link {
	display: block;
	padding: 1rem;

	color: var(--grey);

	transition: padding 0.5s;
}

.return-to-top-btn .link:hover, .return-to-top-btn .link:focus {
	padding-bottom: 2rem;

	color: var(--black);

	transition: padding 0.25s;
}

.return-to-top-btn .link:active {
	color: var(--accent);
}

/* Hide header/retun-to-top-btn */

.hide {
	opacity: 0;

	transition: padding 0.5s, opacity 0.5s;
}

/* Homepage project nav */

.project {
	padding: 5% 10%;
}

.project .link {
	display: block;
	margin: 1rem;
	padding: 1rem;

	border: solid 1px white;

	text-decoration: none;

	transition: background-color 0.5s, border 0.5s;
}

.project .title {
	font-size: 1.5rem;
	font-weight: 700;
}

.project .subtitle {
	font-size: 0.9rem;

	transition: padding 0.5s;
}

.view-btn {
	color: var(--grey);
}

.project .link:hover .view-btn, .project .link:focus .view-btn {
	padding-left: 1rem;

	text-decoration: underline;

	transition: padding 0.25s;
}

.project .link:hover, .project .link:focus {
	background-color: var(--accent-lite);
	border-color: var(--accent);

	transition: background-color 0.25s, border 0.25s;
}

.project .link:hover .title, .project .link:focus .title, .project .link:hover .subtitle, .project .link:focus .subtitle {
	color: var(--accent);
}

.project.sfu .link:hover, .project.sfu .link:focus {
	background-color: var(--sfu-lite);
	border-color: var(--sfu);
}

.project.sfu .link:hover .title, .project.sfu .link:focus .title, .project.sfu .link:hover .subtitle, .project.sfu .link:focus .subtitle {
	color: var(--sfu);
}

.project.liftfit .link:hover, .project.liftfit .link:focus {
	background-color: var(--liftfit-lite);
	border-color: var(--liftfit);
}

.project.liftfit .link:hover .title, .project.liftfit .link:focus .title, .project.liftfit .link:hover .subtitle, .project.liftfit .link:focus .subtitle {
	color: var(--liftfit);
}

.project.accentedge .link:hover, .project.accentedge .link:focus {
	background-color: var(--accentedge-lite);
	border-color: var(--accentedge);
}

.project.accentedge .link:hover .title, .project.accentedge .link:focus .title, .project.accentedge .link:hover .subtitle, .project.accentedge .link:focus .subtitle {
	color: var(--accentedge);
}

.project.baabulilm .link:hover, .project.baabulilm .link:focus {
	background-color: var(--baabulilm-lite);
	border-color: var(--baabulilm);
}

.project.baabulilm .link:hover .title, .project.baabulilm .link:focus .title, .project.baabulilm .link:hover .subtitle, .project.baabulilm .link:focus .subtitle {
	color: var(--baabulilm);
}

.project .link:active {
	background-color: var(--accent-lite) !important;
	border-color: var(--accent) !important;
}

.project .link:active .title, .project .link:active .subtitle {
	color: var(--accent) !important;
}

/* Project page project nav */

.more-projects {
	padding: 5% 10%;
}

.more-projects .link {
	display: block;
	margin-top: 2rem;

	text-decoration: none;

	transition: padding 0.5s;
}

.more-projects .subtitle {
	color: var(--grey);
}

.more-projects .link:hover, .more-projects .link:focus {
	padding-left: 2rem;

	transition: padding 0.25s;
}

.more-projects .link:hover .heading, .more-projects .link:focus .heading {
	text-decoration: underline;
}

.more-projects .link:hover .subtitle, .more-projects .link:focus .subtitle {
	color: var(--black);
}

.view-all-projects-btn:hover, .view-all-projects-btn:focus, .view-all-projects-btn:hover .heading, .view-all-projects-btn:focus .heading {
	color: var(--accent);
}

.more-projects .link:active .heading, .more-projects .link:active .subtitle {
	color: var(--accent);
}

/* Project page highlight section */

.highlight {
	padding: 5% 10%;

	text-align: center;
}

.highlight .subheading {
	font-weight: 600;
}

/* Add/subtract margin/padding */

.margin-add-top {
	margin-top: 2rem;
}

.margin-add-btm {
	margin-bottom: 2rem;
}

.padding-add-top {
	padding-top: 5%;
}

.padding-add-btm {
	padding-bottom: 5%;
}

.padding-remove-top {
	padding-top: 0;
}

.padding-remove-btm {
	padding-bottom: 0;
}

.padding-increase-top {
	padding-top: 10%;
}

/* Link */

.link:active {
	color: var(--accent);
}

@media screen and (max-width: 600px) {
	/* Divider*/

	.divider-container {
		margin: 0 2rem;
	}

	.divider {
		margin: 0;
	}

	/* Figure */

	.figure-container {
		padding: 1rem;
	}

	.caption {
		margin: 1rem 0;
	}

	/* Header */

	.header .remove {
		display: none;
	}

	.header .display {
		display: inline-block;
	}

	/* Homepage header */

	.home-header-spacing {
		padding: 0;
	}

	/* Project page header */

	.project-header {
		position: sticky;
		top: 0;

		border-bottom: solid 1px var(--grey-lite);
	}

	.project-header-spacing .link {
		padding: 1rem;
	}

	.transparent {
		background-color: white;
	}

	.header.transparent .link {
		color: var(--grey);
	}

	/* Landing */

	.landing {
		padding: 1rem;
	}

	.landing .heading {
		font-size: 1.5rem;
	}

	.landing .subtitle {
		font-size: 0.9rem;
	}

	/* Homepage landing */

	.home .heading, .home .subtitle {
		margin: 2rem;
	}

	/* Project page landing */

	.project-landing .heading, .project-landing .subtitle {
		margin: 2rem;
	}

	/* Content */

	.content {
		padding: 1rem;
	}

	/* Footer */

	.footer {
		padding: 1rem;
	}

	/* Return-to-top btn */

	.return-to-top-btn {
		display: none;
	}

	/* Homepage project nav */

	.project {
		padding: 1rem;
	}

	.project .link {
		margin: 0;
		padding: 0;

		transition: margin 0.5s;
	}

	.project .figure {
		margin-bottom: 0;
	}

	.project .title {
		font-size: 1.25rem;
	}

	.project .link:hover, .project .link:focus {
		margin: 1rem;

		transition: margin 0.25s;
	}

	/* Project page project nav */

	.more-projects {
		padding: 1rem;
	}

	.more-projects .link {
		margin: 0;
	}

	.more-projects .heading {
		font-size: 1.5rem;
	}

	/* Highlight */

	.highlight {
		padding: 1rem;
	}

	/* Add/subtract margin/padding */

	.padding-add-top {
		padding-top: 0;
	}
}