@media screen and (max-width: 57.875rem) {
	div.center-container {
		display: block;
	}

	div.half-item {
		width: 100%;
	}

	/*------------------------------------------------------------------------------------------------*/

	div.col-1of3,
	div.col-2of3 {
		max-width: 100%;
	}
	
	/*------------------------------------------------------------------------------------------------*/
	
	header.header {
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
	}

	header.header a.link {
		padding: 0.875rem 1rem 1rem 1rem;
		border-top: solid 0.125rem transparent;
		border-bottom: none;
	}

	/*------------------------------------------------------------------------------------------------*/
	
	footer.footer {
		margin-bottom: calc(2rem + var(--header-height));
		padding: 1rem;
	}

	footer.footer a.link {
		margin: 1rem;
		padding: 1rem;

		background-color: var(--accent-tint);

		font-weight: var(--normal);
	}
	
	/*------------------------------------------------------------------------------------------------*/

	section.section {
		padding: 1rem;
	}

	section.intro {
		padding: 3rem;
	}

	/*------------------------------------------------------------------------------------------------*/

	h1.heading,
	h2.subheading {
		font-size: 1.5rem;
	}

	/*------------------------------------------------------------------------------------------------*/

	div.tag {
		font-weight: var(--normal);
	}

	div.projects figcaption.caption {
		padding: 0;
	}

	h3.title {
		font-size: 1rem;
		font-weight: var(--medium);
	}

	h4.subtitle {
		font-size: 0.75rem;
		font-weight: var(--normal);
	}

	div.prompt {
		margin-top: 0;
		padding-top: 1rem;

		border-top: solid 0.0625rem var(--lightgray);
		
		font-weight: var(--normal);
		text-align: center;
	}

	a.link:hover div.prompt,
	a.link:focus div.prompt {
		border-color: var(--accent);
	}

	a.link:active div.prompt {
		border-color: var(--white);
	}

	a.link:hover span.prompt,
	a.link:focus span.prompt {
		background: none;
	}

	/*------------------------------------------------------------------------------------------------*/

	body.dark header.header {
		border-top: solid 0.0625rem var(--white-tint);
		border-bottom: none;
	}

	/*------------------------------------------------------------------------------------------------*/

	body.dark footer.footer a.link {
		background-color: var(--white-tint);
	}

	body.dark footer.footer a.link:active {
		background-color: var(--accent);
	}
	
	/*------------------------------------------------------------------------------------------------*/

	body.dark div.prompt {
		border-color: var(--white-tint);
	}

	body.dark a.link:hover div.prompt,
	body.dark a.link:focus div.prompt {
		border-color: var(--white);
	}

	body.dark a.link:hover span.prompt,
	body.dark a.link:focus span.prompt {
		background: none;
	}
}