@media screen and (max-width: 57.875rem) {
	/* STYLE.CSS */

	/* HEADER */
	header.header {
		position: initial;
		padding: 0 2rem 2rem 2rem;

		text-align: center;
	}

	/* HEADER LINK */
	header.header a.link {
		background-color: var(--accent-tint);
		border-radius: var(--card-radius);
		opacity: 1;
	}

	/* HEADER ICON */
	span.material-symbols-rounded {
		padding: 0.75rem;
	}

	/* FOOTER */
	footer.footer {
		margin: 2rem 2rem 1rem 2rem;

		scroll-margin: 2rem;
	}

	/* FOOTER LINK */
	footer.footer a.link {
		margin: 1rem;
		padding: 1rem;

		background-color: var(--accent-tint);
	}

	/* 1ST SECTION */
	section.section.initial {
		padding: 3rem;
	}

	/* SECTION */
	section.section {
		padding: 1rem;
	}

	/* SUBSEQUENT SECTIONS */
	section.section + section.section {
		padding-top: 1rem;

		scroll-margin: initial;
	}

	/* PROJECT LINK CONTAINER */
	div.projects {
		text-align: initial;
	}

	/* PROJECT LINK TEXT BACKGROUND */
	figure.fig {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
		opacity: 1;
	}

	/* PROJECT LINK TEXT CONTAINER */
	div.projects figcaption.caption {
		bottom: 0;
		transform: initial;
	}

	/* HEADINGS */
	h1.heading,
	h2.subheading {
		font-size: 1.5rem;
	}

	/* FLEX.CSS */

	/* HEADER & MAIN + FOOTER CONTAINER*/
	div.switch-container {
		display: flex;
		flex-direction: column-reverse;
	}

	div.header-container {
		flex-direction: initial;
	}

	/* HEADER LINKS */
	div.header-item {
		width: calc(50% - 0.5rem);
	}

	/* HEADER TEXT LINKS */
	div.header-item:nth-child(2) {
		display: none;
	}

	/* FOOTER LINKS */
	footer.footer div.flex-container {
		display: initial;
	}

	/* PROJECT LINKS */
	div.projects div.flex-container {
		flex-wrap: wrap;
	}

	/* BADGES, PROJECT INFO */
	div.half-container {
		display: initial;
	}

	div.half-item {
		width: initial;
	}

	/* DARK.CSS */

	/* HEADER LINK */
	body.dark header.header a.link {
		background-color: var(--white-tint);
	}

	/* FOOTER LINK */
	body.dark footer.footer a.link {
		background-color: var(--white-tint);
	}
}