@media screen and (max-width: 57.875rem) {
	div.flex-container {
		justify-content: center;
	}
	
	div.center-container,
	div.even-container {
		display: block;
	}

	div.half-item {
		width: 100%;
	}

	/*------------------------------------------------------------------------------------------------*/

	div.col-1of3,
	div.col-2of3 {
		max-width: 100%;
	}
	
	/*------------------------------------------------------------------------------------------------*/

	body.body {
		padding: 0;
	}
	
	/*------------------------------------------------------------------------------------------------*/
	
	header.header {
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;

		border-radius: 0;
	}

	header.header a.link:not(div.buttons a.link) {
		padding-right: 0;
	}

	/*------------------------------------------------------------------------------------------------*/
	
	footer.footer {
		margin: 2rem 2rem calc(2rem + var(--header-height)) 2rem;
		padding: 1rem;
	}

	footer.footer a.link {
		margin: 1rem;
		padding: 1rem;

		background-color: var(--accent-tint);
	}
	
	/*------------------------------------------------------------------------------------------------*/

	section.section {
		padding: 1rem;
	}

	section.intro {
		padding: 3rem 3rem 2rem 3rem;
	}

	/*------------------------------------------------------------------------------------------------*/

	h1.heading,
	h2.subheading {
		font-size: 1.5rem;
	}

	/*------------------------------------------------------------------------------------------------*/

	div.caption {
		padding: 0;
	}

	h3.title {
		font-size: 1rem;
	}

	h4.subtitle {
		font-size: 0.75rem;
	}

	div.prompt {
		margin-top: 0;
		padding-top: 1rem;

		border-top: solid 0.0625rem var(--accent-tint);
		
		text-align: center;
	}

	/*------------------------------------------------------------------------------------------------*/

	body.dark header.header {
		border: none;
		border-top: solid 0.0625rem var(--white-tint);
	}

	body.dark div.prompt {
		border-color: var(--white-tint);
	}

	body.dark footer.footer a.link {
		background-color: var(--white-tint);
	}

	/*------------------------------------------------------------------------------------------------*/

	div.sixth-item {
		width: calc(100% / 3);
	}
}