* {
	--black: black;
	--black-tint: rgba(0, 0, 0, 0.5);
	--white: white;
	--white-tint: rgba(255, 255, 255, 0.125);
	--white-highlight: linear-gradient(0deg, var(--white-tint) 50%, transparent 50%);;
	--lightgray: rgb(223, 223, 223);
	--gray: gray;
	--accent: SeaGreen;
	--accent-tint: rgba(46, 139, 87, 0.125);
	--accent-highlight: linear-gradient(0deg, var(--accent-tint) 50%, transparent 50%);

	--shadow: 0 0 1rem rgba(0, 0, 0, 0.125);

	--card-radius: 0.5rem;
	--button-radius: 0.25rem;

	--max-width: 80rem;
	--gutter-height: 6.25rem;
	--header-height: 2.8625rem;

	--normal: 400;
	--medium: 500;
	--bold: 600;

	--kerning: 0.03125rem;
	--line-height: 1.625em;

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Poppins', 'Inter', 'Noto Color Emoji', sans-serif;

	scroll-behavior: smooth;

	transition: all 0.125s ease-in-out;
}

/*------------------------------------------------------------------------------------------------*/

a.link {
	color: inherit;

	text-decoration: none;
}

/*------------------------------------------------------------------------------------------------*/

header.header {
	position: sticky;
	top: 0;
	z-index: 1;

	background-color: var(--white);
	box-shadow: var(--shadow);

	font-size: 0.75rem;
	text-align: center;
}

div.header-width {
	max-width: var(--max-width);
	margin: auto;
}

header.header a.link {
	display: block;
	padding: 1rem 1rem 0.875rem 1rem;

	border-bottom: solid 0.125rem transparent;
}

header.header a.link:hover,
header.header a.link:focus {
	color: var(--accent);
	border-color: var(--accent);
}

header.header a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

div.buttons a.link {
	width: var(--header-height);
}

/*------------------------------------------------------------------------------------------------*/

main.main {
	max-width: var(--max-width);
	margin: auto;
}

/*------------------------------------------------------------------------------------------------*/

div.footer-width {
	max-width: calc(var(--max-width) + 4rem);
	margin: auto;
}

footer.footer {
	margin: 0 2rem 2rem 2rem;
	padding: var(--gutter-height);

	background-color: var(--accent-tint);
	border-radius: var(--card-radius);

	text-align: center;
}

footer.footer a.link {
	display: block;
	padding: 0.5rem;

	border: solid 0.0625rem transparent;
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

footer.footer a.link:hover,
footer.footer a.link:focus {
	color: var(--accent);
	border-color: var(--accent);
}

footer.footer a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

footer.footer p.text {
	color: var(--gray);

	font-size: 0.75rem;
}

/*------------------------------------------------------------------------------------------------*/

section.section {
	padding: var(--gutter-height);
}

section.section + section.section {
	padding-top: 0;
}

/*------------------------------------------------------------------------------------------------*/

h1.heading {
	margin: 1rem;

	font-weight: var(--bold);
}

h2.subheading {
	margin: 1rem;

	font-size: 2rem;
	font-weight: var(--bold);
}

h3.title {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: var(--bold);
}

h4.subtitle {
	margin: 1rem;

	font-weight: var(--medium);
}

span.subtitle {
	font-weight: var(--medium);
}

h5.h5 {
	margin: 1rem;

	font-size: 1rem;
	font-weight: var(--normal);
	font-style: italic;
}

h6.h6 {
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem;

	background-color: var(--accent-tint);
	color: var(--accent);
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

/*------------------------------------------------------------------------------------------------*/

p.text {
	margin: 1rem;

	line-height: var(--line-height);
}

p.text a.link {
	font-weight: var(--bold);
}

p.text a.link:hover,
p.text a.link:focus {
	text-decoration: underline;
}

p.text a.link:active {
	color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

ul {
	margin: 1rem 1rem 1rem 2rem;
}

li {
	margin-bottom: 1rem;
}

/*------------------------------------------------------------------------------------------------*/

mark.highlight {
	background: var(--accent-highlight);
	color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

abbr.abbreviation {
	cursor: help;
}

abbr.abbreviation:focus:after {
	content: " ("attr(title)")";
}

/*------------------------------------------------------------------------------------------------*/

img.image,
video.video {
	display: block;
	width: 100%;
}

/*------------------------------------------------------------------------------------------------*/

div.icons {
	font-size: 0.75rem;
	text-align: center;
}

div.icons figure.figure {
	padding: 1rem;
}

div.icons img.image {
	margin: auto;
	width: 3rem;
}

div.icons figcaption.caption {
	margin-top: 1rem;
}

/*------------------------------------------------------------------------------------------------*/

div.projects a.link {
	display: block;
	position: relative;
	margin: 1rem;

	border-radius: var(--card-radius);
	box-shadow: var(--shadow);
	overflow: hidden;
}

div.projects a.link + a.link {
	margin-top: 2rem;
}

div.tag {
	position: absolute;
	top: 0;
	margin: 1rem;
	padding: 0.5rem;

	background-color: var(--accent);
	color: var(--white);
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

div.projects figcaption.caption {
	height: 100%;
	padding: 1rem;
}

div.prompt {
	margin: 1rem;

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	text-align: right;
	letter-spacing: var(--kerning);
}

div.projects a.link:hover,
div.projects a.link:focus {
	color: var(--accent);
	box-shadow: var(--shadow), 0 0 0 0.0625rem var(--accent);
}

div.projects a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

a.link:hover span.prompt,
a.link:focus span.prompt {
	background: var(--accent-highlight);
}

a.link:active span.prompt {
	background: var(--white-highlight);
}

/*------------------------------------------------------------------------------------------------*/

div.media {
	color: var(--white);

	font-size: 0.75rem;
	text-align: center;
}

div.media figure.figure {
	position: relative;
	margin: 1rem;

	border-radius: var(--card-radius);
	box-shadow: var(--shadow);
	overflow: hidden;
}

div.media figcaption.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem;

	background-color: var(--black-tint);
	backdrop-filter: blur(0.25rem);
}

div.media a.link {
	font-weight: var(--bold);
}