* {
	--black: black;
	--black-tint: rgba(0, 0, 0, 0.25);
	--white: white;
	--gray: gray;
	--accent: RoyalBlue;
	--accent-tint: rgba(65, 105, 225, 0.125);
	--accent-highlight: linear-gradient(0deg, var(--accent-tint) 50%, transparent 50%);

	--shadow: 0 0 1rem rgba(0, 0, 0, 0.125);

	--card-radius: 0.5rem;
	--button-radius: 0.25rem;

	--gutter: 6.25rem;
	--header-height: 2.8625rem;

	--normal: 400;
	--medium: 500;
	--bold: 600;

	--kerning: 0.03125rem;
	--line-height: 1.625em;

	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Poppins', 'Inter', 'Noto Color Emoji', sans-serif;

	scroll-behavior: smooth;

	transition: all 0.25s;
}

/*------------------------------------------------------------------------------------------------*/

a.link {
	color: inherit;

	text-decoration: none;
}

/*------------------------------------------------------------------------------------------------*/

body.body {
	max-width: 80rem;
	margin: auto;
	padding: 0 2rem 2rem 2rem;
}

/*------------------------------------------------------------------------------------------------*/

header.header {
	position: sticky;
	top: 0;
	z-index: 1;

	background-color: var(--white);
	color: var(--gray);
	border-radius: 0 0 var(--card-radius) var(--card-radius);
	box-shadow: var(--shadow);
	overflow: hidden;

/*	font-size: 0.75rem;*/
	font-size: 0.875rem;
	font-weight: var(--medium);
	text-align: center;
}

header.header a.link {
	display: block;
	padding: 1rem;

	font-family: 'Poppins', 'Inter', sans-serif;
}

header.header a.link:hover,
header.header a.link:focus {
	background-color: var(--accent-tint);
	color: var(--accent);
}

header.header a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

div.buttons a.link {
	width: var(--header-height);
}

/*------------------------------------------------------------------------------------------------*/

footer.footer {
	padding: var(--gutter);

	background-color: var(--accent-tint);
	border-radius: var(--card-radius);

	text-align: center;
}

footer.footer a.link {
	display: block;
	padding: 0.5rem;

	border: solid 0.0625rem transparent;
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

footer.footer a.link:hover {
	color: var(--accent);
	border-color: var(--accent);
}

footer.footer a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

footer.footer p.text {
	color: var(--gray);

	font-size: 0.75rem;
	font-weight: var(--medium);
}

/*------------------------------------------------------------------------------------------------*/

section.section {
	padding: var(--gutter);
}

section.section + section.section {
	padding-top: 0;
}

/*------------------------------------------------------------------------------------------------*/

nav.nav {
	margin: 1rem;

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

nav.nav a.link {
	display: block;
	padding: 0.5rem;

	border: solid 1px transparent;
	border-radius: var(--button-radius);
}

nav.nav a.link:hover:not(a.selected),
nav.nav a.link:focus:not(a.selected) {
	color: var(--accent);
	border-color: var(--accent);
}

nav.nav a.link:active:not(a.selected) {
	background-color: var(--accent);
	color: var(--white);
}

a.selected {
	background-color: var(--accent-tint);
	color: var(--accent);

	cursor: default;
}

/*------------------------------------------------------------------------------------------------*/

h1.heading {
	margin: 1rem;

	font-weight: var(--bold);
}

h2.subheading {
	margin: 1rem;

	font-size: 2rem;
	font-weight: var(--bold);
}

/*------------------------------------------------------------------------------------------------*/

p.text {
	margin: 1rem;

	line-height: var(--line-height);
}

p.text a.link {
	font-weight: var(--bold);
}

p.text a.link:hover,
p.text a.link:focus {
	text-decoration: underline;
}

p.text a.link:active {
	color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

mark.highlight {
	background: var(--accent-highlight);
	color: var(--accent);
}

/*------------------------------------------------------------------------------------------------*/

abbr.abbreviation {
	text-decoration-style: wavy;

	cursor: help;
}

abbr.abbreviation:focus:after {
	content: " ("attr(title)")";
}

/*------------------------------------------------------------------------------------------------*/

img.img {
	display: block;
	width: 100%;
}

figure.fig {
	position: relative;
	margin: 1rem;

	color: var(--white);
	border-radius: var(--card-radius);
	box-shadow: var(--shadow);
	overflow: hidden;

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-align: center;
}

figure.fig + figure.fig {
	margin-top: 2rem;
}

figcaption.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem;

	background-color: var(--black-tint);
}

/*------------------------------------------------------------------------------------------------*/

div.projects a.link {
	display: block;
	position: relative;
	margin: 2rem 1rem 1rem 1rem;

	border: solid 0.0625rem var(--accent-tint);
	border-radius: var(--card-radius);
	box-shadow: var(--shadow);
	overflow: hidden;
}

div.projects a.link:hover,
div.projects a.link:focus {
	border-color: var(--accent);
	color: var(--accent);
}

div.projects a.link:active {
	background-color: var(--accent);
	color: var(--white);
}

div.tag {
	position: absolute;
	top: 0;
	margin: 1rem;
	padding: 0.5rem;

	background-color: var(--accent);
	color: var(--white);
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

div.caption {
	height: 100%;
	padding: 1rem;
}

h3.title {
	margin: 1rem;

	font-size: 1.25rem;
	font-weight: var(--bold);
}

h4.subtitle {
	margin: 1rem;

	font-weight: var(--medium);
}

div.prompt {
	margin: 1rem;

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	text-align: right;
	letter-spacing: var(--kerning);
}

/*------------------------------------------------------------------------------------------------*/

h5.h5 {
	margin: 1rem;

	font-size: 1rem;
	font-weight: var(--normal);
	font-style: italic;
}

span.subtitle {
	font-weight: var(--medium);
}

p.text + h3.title,
figure.fig + h3.title,
p.text + h4.subtitle,
figure.fig + h4.subtitle,
figure.fig + p.text,
h2.subheading + figure.fig,
p.text + figure.fig {
	margin-top: 2rem;
}

ul {
	margin: 1rem 1rem 1rem 2rem;
}

li {
	margin-bottom: 1rem;
}

video {
	display: block;
	width: 100%;
}

/*------------------------------------------------------------------------------------------------*/

p.text + div.col-1of3,
p.text + div.col-2of3,
div.col-1of3 + h3.title,
div.col-2of3 + h3.title,
div.col-1of3 + h4.subtitle,
div.col-2of3 + h4.subtitle,
div.col-1of3 + p.text,
div.col-2of3 + p.text {
	margin-top: 2rem;
}

h2.subheading + div.half-container {
	margin-top: -1rem;
}

/*------------------------------------------------------------------------------------------------*/

figcaption.caption a.link {
	text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------*/

h6.h6 {
	display: inline-block;
	margin: 1rem;
	padding: 0.5rem;

	background-color: var(--accent-tint);
	color: var(--accent);
	border-radius: var(--button-radius);

	font-size: 0.75rem;
	font-weight: var(--medium);
	text-transform: uppercase;
	letter-spacing: var(--kerning);
}

div.tools {}

div.fig {}

div.fig img.img {
	width: 3rem;
	height: 3rem;
	margin: auto;
}

div.tool {
	margin: 1rem;

	font-size: 0.75rem;
	text-align: center;
}

div.sixth-container {
	display: flex;
	margin: 1rem;
	flex-wrap: wrap;
}

div.sixth-item {
	width: 20%;
}